<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--引入jdbc配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!--定义扫描组件的包 这样 就能直接从springApplicationContext get Bean了-->
    <context:component-scan base-package="com.xiaohao"/>

    <!--定义datasource-->
    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource" p:maxIdle="10" p:validationQueryTimeout="10"
          p:driverClassName="${driverClassName}"
          p:url="${url}"
          p:username="${username}"
          p:password="${password}">
    </bean>
    <!--配置好 使用的sql2o 只需要在repository里面注入这个实例就可以了 -->
    <bean id="sql2o" class="org.sql2o.Sql2o">
        <constructor-arg name="dataSource" ref="ds"/>
    </bean>

    <!--<bean id="sql2o" class="org.sql2o.Sql2o">-->
        <!--<property name="dataSource" ref="ds"></property>-->
    <!--</bean>-->



</beans>